<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devsteve.test">

    <uses-permission android:name="android.permission.INTERNET"/>
   <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BienvenidoActivity"></activity>
        <activity android:name=".Negociador.Negociador4Activity" />
        <activity android:name=".Negociador.Negociador3Activity" />
        <activity android:name=".Negociador.Negociador2Activity" />
        <activity android:name=".Negociador.Negociador1Activity" />
        <activity android:name=".Comunicacion.Comunicacion10Activity" />
        <activity android:name=".Comunicacion.Comunicacion5Activity" />
        <activity android:name=".Comunicacion.Comunicacion4Activity" />
        <activity android:name=".Cerebro.Cerebro12Activity" />
        <activity android:name=".Cerebro.Cerebro11Activity" />
        <activity android:name=".Cerebro.Cerebro10Activity" />
        <activity android:name=".Cerebro.Cerebro9Activity" />
        <activity android:name=".Cerebro.Cerebro8Activity" />
        <activity android:name=".Cerebro.Cerebro7Activity" />
        <activity android:name=".Cerebro.Cerebro5Activity" />
        <activity android:name=".Cerebro.Cerebro6Activity" />
        <activity android:name=".Cerebro.Cerebro4Activity" />
        <activity android:name=".Cerebro.Cerebro3Activity" />
        <activity android:name=".Cerebro.Cerebro2Activity" />
        <activity android:name=".Cerebro.Cerebro1Activity" />
        <activity android:name=".Vack.Vack4Activity" />
        <activity android:name=".Vack.Vack3Activity" />
        <activity android:name=".Vack.Vack1Activity" />
        <activity android:name=".Vack.Vack2Activity" />
        <activity android:name=".Vack.VackActivity" />
        <activity android:name=".ActitudNegociadora.ActitudNegociadora6Activity" />
        <activity android:name=".ActitudNegociadora.ActitudNegociadora5Activity" />
        <activity android:name=".ActitudNegociadora.ActitudNegociadora4Activity" />
        <activity android:name=".ActitudNegociadora.ActitudNegociadora3Activity" />
        <activity android:name=".ActitudNegociadora.ActitudNegociadora2Activity" />
        <activity android:name=".ActitudNegociadora.ActitudNegociadora1Activity" />
        <activity android:name=".ActitudNegociadora.ActitudNegociadoraActivity" />
        <activity android:name=".Negociador.NegociadorActivity" />
        <activity android:name=".Cerebro.CerebroActivity" />
        <activity android:name=".Comunicacion.Comunicacion11Activity" />
        <activity android:name=".Comunicacion.Comunicacion9Activity" />
        <activity android:name=".Comunicacion.Comunicacion8Activity" />
        <activity android:name=".Comunicacion.Comunicacion7Activity" />
        <activity android:name=".Comunicacion.Comunicacion6Activity" />
        <activity android:name=".Comunicacion.Comunicacion3Activity" />
        <activity android:name=".Comunicacion.Comunicacion2Activity" />
        <activity android:name=".Comunicacion.Comunicacion1Activity" />
        <activity android:name=".Comunicacion.ComunicacionActivity" />
        <activity android:name=".Animodo.Animodo7Activity" />
        <activity android:name=".Animodo.Animodo6Activity" />
        <activity android:name=".Animodo.Animodo5Activity" />
        <activity android:name=".Animodo.Animodo4Activity" />
        <activity android:name=".Animodo.Animodo3Activity" />
        <activity android:name=".Animodo.Animodo2Activity" />
        <activity android:name=".Animodo.Animodo1Activity" />
        <activity android:name=".Animodo.AnimodoActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>